---
import { cn } from "../lib/utils";
import ThemeSwitcher from "./ThemeSwitcher";

const currentPath = Astro.url.pathname;

const navLinks = [
  { name: "Home", href: "/", },
  { name: "Blog", href: "/blog", },
];
---

<nav
  class="flex items-center justify-between w-full relative max-w-2xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-16 text-gray-900 bg-gray-50 dark:bg-gray-950 bg-opacity-60 dark:text-gray-100"
>
  <div class="flex justify-center items-center gap-3">
    {
      navLinks.map((link) => {
        return (
          <a
            href={link.href}
            class={cn(
              currentPath === link.href || currentPath === link.href + "/"
                ? "font-semibold text-gray-800 dark:text-gray-200"
                : "font-normal text-gray-600 dark:text-gray-400",
              "rounded-lg hover:text-gray-950 transition-all"
            )}
          >
            <span class="capsize">{link.name}</span>
          </a>
        );
      })
    }
  </div>
  <ThemeSwitcher client:only='react' />
</nav>
